* {
    box-sizing: border-box;
}

body {
    font-family: 'Gupter', serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

#heading {
    display: flex;
    justify-content: space-between;
}

#heading button {
    margin: auto;
    margin-left: 15px;
}

.btn {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-ghost {
    border: none;
    background-color: transparent;
}

.clear {
    position: absolute;
    bottom: 30px;
    left: 30px;
}