* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    background-color: #f7f7f7;
}

.container {
    width: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
}

.heading {
    text-align: left;
    margin-bottom: 0.5rem;
}

#balance {
    margin-top: 20px;
    text-align: left;
    width: 100%;
}

.balance {
    font-size: 3rem;
    margin: 0;
}

#tracker {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 30px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
}


.income-bal {
    color: green;
}

.expense-bal {
    color: red;
}

.bal {
    font-size: 1.5rem;
    text-align: center;
}

#history {
    width: 100%;
    margin: 20px;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;;
}

#history .item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 12px;
    padding: 5px 10px;
    width: 100%;
}

#history .negative-item {
    border-right: 4px solid red
}

#history .positive-item {
    border-right: 4px solid green;
}

#add-trans {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    text-align: left;
}

#add-trans label {
    margin: 10px 0 5px;
}

#add-trans input {
    padding: 8px;
}

button {
    padding: 8px;
    margin-bottom: 2rem;
    margin-top: 8px;
    border: none;
    background-color:royalblue;
    color: white;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.clear-btn {
    position: absolute;
    top: 20px;
    right: 40px;
}