* {
    box-sizing: border-box;
}

body {
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.settings.hidden {
    transform: translateY(-100px);
    transition: all 0.8s ease-in-out;
}

.settings{
    transform: translateY(100px);
    transition: all 1s ease-in-out;;
}

.start-game, .stop-game {
    margin-bottom: 30px;
    width: 20%;
}

.stop-game{
    background-color: #a7c5e3;
    display: none;
}

.start-game:hover {
    background: #a7c5e3;
    color: black;
}

.stop-game:hover {
    background: white;
    color: black;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3 ease-in-out;
}

.settings.hide {
    transform: translateY(-100%);
}

select#difficulty {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a7c5e3;
}

select:focus, button:focus, input:focus {
    outline: none;
}

.container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 4px;
    border: 2px #a7c5e3 dashed;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    text-align: center;
    width: 40%;
}

.container h2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0px 40px;
}

.container h1 {
    margin: 0;
}

.container input {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px 0;
    padding: 7px;
    width: 70%;
}

.time-container {
    position: absolute;
    top: 70px;
    right: 25px;
}

.score-container {
    position: absolute;
    top: 70px;
    left: 25px;
}

.end-game-container {
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

